@import "normalize";
@import "/common/**/*.scss";
@import "/blocks/**/*.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: #{$font-size}px;
  line-height: $line-height;
  color: $primary;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

ul li {
  list-style: none;
}

.section-title {
  font-size: 25px;
  line-height: (30/25);

  @include tablet {
    font-size: 43px;
    line-height: (50/30);
  }

  @include desktop {
    font-size: 53px;
    line-height: (57/53);
  }
}

.wave{
  background:
          linear-gradient(to right, sandybrown, chocolate);
  height: 50px;
  position: relative;
}
.wave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
          radial-gradient(circle at 10px -5px, transparent 12px, aquamarine 13px);
}
.wave::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
          radial-gradient(circle at 10px 15px, aquamarine 12px, transparent 13px);
}
