.best-product {
  margin-bottom: 35px;

  @include tablet {
    margin-bottom: 50px;
  }

  @include desktop {
    margin-bottom: 75px;
    position: relative;
  }

  &__wrapper {
    @include tablet {
      position: relative;
      width: 50%;
      //height: 404px;
      height: auto;
      min-height: 404px;
      padding-right: 45px;
      display: flex;
      flex-direction: column;
    }

    @include desktop {
      //height: 636px;
      height: auto;
      min-height: 636px;
      padding-right: 60px;
      padding-left: 175px;
      padding-top: 165px;
    }
  }

  &__header {
    margin-bottom: 20px;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }

    @include desktop {
      position: absolute;
      z-index: 10;
      //left: 225px;
      height: 165px;
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__caption {
    font-size: 17px;
    line-height: (20/17);
    color: #63d1bb;
    font-weight: bold;
    text-transform: uppercase;

    @include tablet {
      text-align: center;
      text-transform: uppercase;
      padding: 0 30px;
      flex-shrink: 0;
    }

    @include desktop {
      width: 175px;
      order: -1;
    }
  }

  &__caption br {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  &__desc {
    margin-bottom: 17px;

    @include tablet {
      //margin-bottom: 50px;
      font-size: 17px;
      line-height: (30/17);
      margin-top: -10px;
      margin-bottom: 35px;
    }

    @include desktop {
      margin-bottom: 50px;
    }
  }

  &__features {
    margin-bottom: 25px;

    @include tablet {
      //margin-bottom: 60px;
      //margin-bottom: 0;
    }
  }

  &__pic {
    display: block;
    margin: 0 auto;
    height: 315px;

    @include tablet {
      position: absolute;
      top: 0;
      left: 100%;
      height: 404px;
    }

    @include desktop {
      height: 636px;
    }
  }

  &__price {
    font-size: 17px;
    line-height: (24/17);
    font-weight: bold;
    text-align: center;
    padding: 26px 0;

    @include tablet {
      padding: 0 0 35px;
      margin-top: auto;
      font-size: 20px;
      line-height: (20/17);
    }
  }
}
