.cart-form {
  width: 260px;

  @include tablet {
    width: 100%;
  }
}

.cart-form__title {
  font-size: 25px;
  line-height: (30/25);
  text-transform: uppercase;
  margin-bottom: 25px;
  display: inline-block;

  @include tablet {
    font-size: 30px;
    line-height: (57/30);
  }

  br {
    @include tablet {
      display: none;
    }
  }
}

.cart-form__field-group {
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin-bottom: 30px;
}

.cart-form__field-group-title {
  font-size: 15px;
  line-height: (30/15);
  margin-bottom: 25px;

  @include tablet {
    font-size: 17px;
    line-height: (30/17);
  }
}

.cart-form__field-group-fields {
  display: flex;
  justify-content: space-between;
}

.cart-form__field {
  position: relative;
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 112px;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] ~ label {
    font-size: 17px;
    line-height: (16/17);
    font-weight: bold;
    cursor: pointer;
  }

  input[type="radio"] ~ label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 82px;
    height: 52px;
    box-sizing: border-box;
    border: 2px solid rgba($secondary, 0.1);

    @include tablet {
      width: 112px;
    }
  }

  input[type="radio"] ~ label:hover::before {
    border-color: rgba($secondary, 0.3);
  }

  input[type="radio"]:checked ~ label::before {
    border-color: #63d1bb;
  }
}

.cart-form__button {
  border: none;
  background-color: #63d1bb;
  width: 100%;
  color: #ffffff;
  cursor: pointer;
}
