.catalog {
  &__list {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 32px;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    @include tablet {
      margin-bottom: 52px;
    }
  }
}
