.catalog {
  &__list {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 50px;
    }
  }
}
