.container {
  width: auto;
  padding: 0 30px;

  @include tablet {
    padding: 0 50px;
  }

  @include desktop {
    //padding: 0 100px;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }
}
