.features {
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 5px;
  }

  @include desktop {
    margin-bottom: 10px;
  }

  &__wrapper {
    @include desktop {
      padding-left: 175px;
    }
  }

  &__list {
    @include tablet {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 485px;
      max-height: 485px;
    }

    @include desktop {
      //max-height: none;
      //flex-direction: row;
      align-content: flex-start;
    }
  }

  &__item {
    padding-bottom: 30px;

    @include tablet {
      width: 50%;
      padding-bottom: 60px;
      padding-right: 10px;
    }

    @include desktop {
      width: 350px;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include desktop {
      margin-bottom: 50px;
    }
  }

  &__item-title {
    font-size: 17px;
    line-height: (20/17);

    @include tablet {
      font-size: 20px;
      line-height: (22/20);
    }
  }

  &__item-title br {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  &__icon {
    //width: 55px;
    //text-align: center;
    text-align: left;
    //padding-bottom: 25px;
    display: block;
    height: 38px;
    width: 55px;
    margin-bottom: 17px;

    @include tablet {
      //padding-bottom: 20px;
      margin-bottom: 13px;
      text-align: center;
    }
  }

  &__icon-pic {
    //padding-bottom: 15px;
    //height: 40px;
  }
}
