.features {
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 5px;
  }

  @include desktop {
    margin-bottom: 10px;
  }

  .features__wrapper {
    @include desktop {
      padding-left: 175px;
    }
  }
}

.features__list {
  @include tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 485px;
    max-height: 485px;
  }

  @include desktop {
    align-content: flex-start;
  }
}

.features__item {
  padding-bottom: 30px;

  @include tablet {
    width: 50%;
    padding-bottom: 60px;
    padding-right: 10px;
  }

  @include desktop {
    width: 350px;
  }
}

.features__title {
  margin-bottom: 33px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.features__item-title {
  font-size: 17px;
  line-height: (20/17);

  @include tablet {
    font-size: 20px;
    line-height: (22/20);
  }
}

.features__icon {
  text-align: left;
  display: block;
  height: 38px;
  width: 55px;
  margin-bottom: 17px;

  @include tablet {
    margin-bottom: 13px;
    text-align: center;
  }
}
