.menu-list {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    position: absolute;
    z-index: 10;
    top: 105px;
    max-width: 65%;
    flex-wrap: wrap;
  }

  @include desktop {
    position: relative;
    top: 0;
    max-width: 40%;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &_desktop {
    display: none;

    @include desktop {
      display: flex;
      position: absolute;
      top: 105px;
      left: 0;
      flex-wrap: wrap;
    }
  }

  &_desktop .main-nav__item {
    &:nth-of-type(n+3) {
      @include desktop {
        display: block;
      }
    }
  }

  &_desktop .menu-list__link {
    font-size: 15px;
    line-height: (24/15);
    border: none;
    padding-left: 0;
    min-height: auto;
    height: auto;
    padding-right: 10px;
  }

  &_desktop .menu-list__item:not(:first-child) .menu-list__link {
    @include desktop {
      border: none;
      padding-left: 0;
    }
  }

  &_desktop .menu-list__item:nth-of-type(2n + 2) .menu-list__link {
    @include desktop {
      border: none;
      padding-left: 35px;
    }
  }
}

.menu-list__item {
  padding: 0 30px;
  border-top: 1px solid #ececec;

  @include tablet {
    padding: 0;
    min-width: 170px;
    border: none;
  }

  @include desktop {
    min-width: 185px;
  }

  &:nth-of-type(n+3) {
    @include desktop {
      display: none;
    }
  }
}

.menu-list__link {
  min-height: 80px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  line-height: (24/17);
  font-weight: bold;
  text-decoration: none;
  color: $secondary;
  padding-left: 45px;
  overflow: hidden;

  @include tablet {
    font-size: 15px;
    line-height: (24/15);
    border: none;
    padding-left: 0;
    min-height: auto;
    height: auto;
  }

  @include desktop {
    font-size: 17px;
    line-height: (24/17);
    min-height: 90px;
    height: 90px;
    padding-right: 35px;
  }
}

.menu-list__item:not(:first-child) .menu-list__link {
  @include desktop {
    border-left: 1px solid #ececec;
    padding-left: 35px;
  }
}

.menu-list__link:hover {
  color: #8d8d8d;
}

.menu-list__link:active {
  color: #cacaca;
}
