.order-form {
  &__desc {
    font-size: 13px;
    line-height: (24/13);
    margin-bottom: 30px;
  }

  &__send-button {
    background: none;
    width: 100%;
    cursor: pointer;
  }

  &__title {
    font-size: 17px;
    line-height: (16/17);
    font-weight: bold;
    color: #63d1bb;
    overflow: hidden;
    text-align: left;
    margin-bottom: 25px;
  }

  &__title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #63d1bb;
    position: relative;
    margin-right: -100%;
    right: -25px;
  }

  &__field {
    margin-bottom: 15px;
  }

  &__field label {
    font-size: 17px;
    line-height: (18/17);
    font-weight: bold;
  }

  &__field input[type="text"],
  &__field input[type="tel"],
  &__field input[type="email"],
  &__field textarea {
    font-size: 17px;
    line-height: (18/17);
    font-family: "OpenSans";
    color: #d2d2d2;
  }

  &__field-group {
    margin-bottom: 25px;
  }
}
