.page-footer {
  background-color: #f1f1f1;

  @include tablet {
    height: 142px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  flex-shrink: 0;
  display: none;

  @include tablet {
    width: 33.3%;
    display: block;
  }
}

.page-footer__logo-link {
  fill: #231f20;
  display: inline-block;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: rgba(#46c1ae, 0.3);
  }
}

.page-footer__logo-pic {
  display: none;

  @include tablet {
    display: block;
  }
}

.page-footer__socials {
  flex-basis: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;

  @include tablet {
    border: none;
    flex-grow: 1;
    width: 33.3%;
  }
}

.page-footer__copyright {
  text-align: center;
  flex-basis: 80px;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  @include tablet {
    flex-grow: 1;
    justify-content: flex-end;
    width: 33.3%;
  }
}
