.page-footer {
  background-color: #f1f1f1;

  @include tablet {
    height: 142px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    flex-shrink: 0;

    @include tablet {
      //flex-grow: 1;
      width: 33.3%;
    }
  }

  &__logo-pic {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__socials {
    flex-basis: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;

    @include tablet {
      border: none;
      //flex-basis: auto;
      flex-grow: 1;
      width: 33.3%;
    }
  }

  &__copyright {
    text-align: center;
    flex-basis: 80px;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    @include tablet {
      flex-grow: 1;
      justify-content: flex-end;
      width: 33.3%;
    }
  }
}
