.product {
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: column;
    flex-basis: 315px;
  }
}

.product__pic-link {
  display: block;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 100%;
  }
}

.product__pic {
  width: 100%;
  min-height: 195px;

  @include tablet {
    min-height: 334px;
  }

  @include desktop {
    height: 462px;
  }
}

.product__title {
  font-size: 17px;
  line-height: (24/17);
  margin-bottom: 7px;

  @include tablet {
    font-size: 20px;
    line-height: (24 / 20);
    margin-bottom: 5px;
  }
}

.product__title-link {
  color: $secondary;
  text-decoration: none;

  &:hover {
    color: rgba($secondary, 0.6);
  }

  &:active {
    color: rgba($secondary, 0.3);
  }
}

.product__info {
  padding: 26px 27px;

  @include tablet {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 25px 27px 31px;
  }

  @include desktop {
    width: 100%;
    height: 100%;
  }
}

.product__desc {
  font-size: 13px;
  line-height: (30/13);
  margin-bottom: 20px;

  @include tablet {
    font-size: 15px;
    line-height: (30/15);
  }

  @include desktop {
    margin-bottom: 15px;
  }
}

.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
  padding-top: 20px;

  @include tablet {
    margin-top: auto;
  }
}

.product__price {
  font-size: 15px;
  line-height: (24/15);
  font-weight: bold;

  @include tablet {
    font-size: 17px;
    line-height: (24/17);
  }
}

.product__add-cart-button {
  font-size: 0;

  &:hover .product__icon {
    fill: #63d1bb;
  }

  &:active .product__icon {
    fill: rgba(#63d1bb, 0.3);
  }
}

.product__icon {
  fill: rgba($secondary, 0.2);
}
