.production {
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 65px;
  }

  @include desktop {
    margin-bottom: 110px;
  }
}

.production__wrapper {
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @include desktop {
    position: relative;
    padding-left: 685px;
    min-height: 455px;
  }
}

.production__header {
  padding: 25px 32px;
  display: flex;
  align-items: center;

  @include tablet {
    padding: 30px 40px 0;
  }

  @include desktop {
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 60px 0 75px;
  }
}

.production__icon {
  flex-shrink: 0;

  @include desktop {
    margin-bottom: 20px;
  }
}

.production__title {
  font-size: 17px;
  line-height: (24/17);
  padding-left: 25px;

  @include tablet {
    font-size: 20px;
    line-height: (24/20);
    padding-left: 30px;
  }

  @include desktop {
    padding-left: 0;
  }
}

.production__title br {
  @include tablet {
    display: none;
  }

  @include desktop {
    display: inline;
  }
}

.production__video {
  position: relative;

  @include tablet {
    order: -1;
  }

  @include desktop {
    position: absolute;
    left: 0;
    top: 0;
    width: 685px;
    height: 455px;
  }
}

.production__video img {
  width: 100%;
  min-height: 150px;

  @include tablet {
    min-height: 455px;
  }

  @include desktop {
    height: 455px;
  }
}

.production__play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.production__info {
  padding: 30px 35px;

  @include tablet {
    padding: 30px 40px 45px;
  }

  @include desktop {
    padding: 35px 60px 40px 75px;
  }
}

.production__desc {
  font-size: 13px;
  line-height: (24/13);
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: (30/15);
  }

  @include desktop {
    margin-bottom: 45px;
  }
}
