.product-features {
  width: 100%;
}

.product-features__property,
.product-features__value {
  padding: 9px 0;
  border-bottom: 1px solid #ececec;
  text-align: left;
  line-height: (20/15);
}

.product-features__property {
  padding-right: 25px;
  width: 1px;
}
