.reviews {
  margin-bottom: 45px;

  @include tablet {
    min-height: 457px;
    background-image: url("./../img/review@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 65px;

    @include retina {
      background-image: url("./../img/review@2x.jpg");
    }
  }

  @include desktop {
    background-origin: content-box;
  }
}

.reviews__wrapper {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 65px;
    align-items: center;
  }

  @include desktop {
    padding-left: 175px;
    padding-top: 75px;
  }
}

.reviews__title {
  margin-bottom: 25px;

  @include tablet {
    order: 1;
    margin-bottom: 0;
  }
}

.reviews__list {
  @include tablet {
    order: 3;
    flex-grow: 1;
    position: relative;
    padding-top: 40px;
  }

  @include desktop {
    padding-top: 45px;
  }
}

.reviews__item {
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 0;
  }
}

.reviews__text {
  margin-bottom: 27px;
  line-height: (30 / 15);

  @include tablet {
    margin-bottom: 58px;
    font-size: 17px;
    line-height: (30 / 17);
  }

  @include desktop {
    margin-bottom: 40px;
    padding-right: 100px;
  }
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: (24/17);

  @include tablet {
    font-size: 18px;
    line-height: (24/18);
    color: $secondary;
  }
}

.reviews__author-profile {
  font-size: 17px;
  line-height: (30/17);
}

.reviews__toggles {
  margin-bottom: 40px;
  display: table;
  border-collapse: collapse;
  width: 100%;

  @include tablet {
    width: auto;
    position: absolute;
    bottom: 15px;
    right: 0;
    margin-bottom: 0;
  }
}

.reviews__prev,
.reviews__next {
  background: none;
  cursor: pointer;
  outline: none;
  border: 1px solid #ececec;
  display: table-cell;
  border-collapse: collapse;
  text-align: center;
  height: 50px;
  vertical-align: middle;
  font-size: 0;
  fill: $secondary;

  &:hover {
    fill: rgba($secondary, 0.6);
  }

  &:active {
    fill: rgba($secondary, 0.3);
  }

  @include tablet {
    border: none;
    height: auto;
    padding: 0 20px;
  }
}

.reviews__write-button {
  @include tablet {
    order: 2;
    display: inline-block;
    padding: 0 40px;
  }
}
