.reviews {
  margin-bottom: 45px;

  @include tablet {
    min-height: 457px;
    //background: url("./../img/review@1x.jpg") 0 0 no-repeat;
    background-image: url("./../img/review@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 65px;

    @include retina {
      background-image: url("./../img/review@2x.jpg");
    }
  }

  @include desktop {
    background-origin: content-box;
  }

  &__wrapper {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      padding-top: 65px;
      align-items: center;
    }

    @include desktop {
      padding-left: 175px;
      padding-top: 75px;
    }
  }

  &__title {
    margin-bottom: 25px;

    @include tablet {
      order: 1;
      margin-bottom: 0;
    }
  }

  &__list {
    @include tablet {
      order: 3;
      flex-grow: 1;
      position: relative;
      padding-top: 40px;
    }

    @include desktop {
      padding-top: 45px;
    }
  }

  &__item {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__text {
    margin-bottom: 30px;
    line-height: (30 / 15);

    @include tablet {
      margin-bottom: 58px;
      font-size: 17px;
      line-height: (30 / 17);
    }

    @include desktop {
      margin-bottom: 40px;
      padding-right: 100px;
    }
  }

  &__author-name {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    line-height: (24/17);

    @include tablet {
      font-size: 18px;
      line-height: (24/18);
      color: $secondary;
    }
  }

  &__author-profile {
    font-size: 17px;
    line-height: (30/17);
  }

  &__toggles {
    margin-bottom: 40px;
    display: table;
    border-collapse: collapse;
    width: 100%;

    @include tablet {
      width: auto;
      position: absolute;
      bottom: 15px;
      right: 0;
      margin-bottom: 0;
    }
  }

  &__prev,
  &__next {
    background: none;
    cursor: pointer;
    outline: none;
    border: 1px solid #ececec;
    display: table-cell;
    border-collapse: collapse;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    font-size: 0;

    polygon {
      fill: $secondary;
    }

    &:hover polygon {
      fill: rgba($secondary, 0.6);
    }

    &:active polygon {
      fill: rgba($secondary, 0.3);
    }

    @include tablet {
      border: none;
      height: auto;
      padding: 0 20px;
    }
  }

  &__write-button {
    @include tablet {
      order: 2;
      display: inline-block;
      padding: 0 40px;
    }
  }
}
