.separator {
  position: relative;
  height: 8px;
  margin-bottom: 26px;

  @include tablet {
    height: 18px;
    margin-bottom: 40px;
  }

  @include desktop {
    height: 24px;
    width: $desktop-width - 100px;
    margin-bottom: 60px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-repeat: repeat;

    @include tablet {
      //background-size: 54px 36px !important;
    }
  }

  &::before {
    //height: 5px;
    //background: radial-gradient(8px, transparent, transparent 4px, black 5px, black 7px, transparent 8px);
    //background-size: 20px 16px;
    //background-position-x: -10px;

    height: 4px;
    background: radial-gradient(8px, transparent, transparent 3px, #f1f1f1 4px, #f1f1f1 5px, transparent 6px);
    background-size: 16px 12px;
    background-position-x: -8px;

    @include tablet {
      height: 9px;
      background: radial-gradient(18px, transparent, transparent 10px, #f1f1f1 11px, #f1f1f1 16px, transparent 17px);
      background-size: 40px 36px;
      background-position-x: -20px;
    }

    @include desktop {
      height: 12px;
      background: radial-gradient(24px, transparent, transparent 13px, #f1f1f1 14px, #f1f1f1 21px, transparent 22px);
      background-size: 54px 43px;
      background-position-x: 27px;
    }
  }

  &::after {
    //height: 5px;
    //background: radial-gradient(8px, transparent, transparent 4px, black 5px, black 7px, transparent 8px);
    //background-size: 20px 15px;
    //top: 4px;
    //background-position: 0 -10px;

    height: 4px;
    background: radial-gradient(8px, transparent, transparent 3px, #f1f1f1 4px, #f1f1f1 5px, transparent 6px);
    background-size: 16px 16px;
    top: 4px;
    background-position: 0 -10px;

    @include tablet {
      height: 9px;
      background: radial-gradient(18px, transparent, transparent 10px, #f1f1f1 11px, #f1f1f1 16px, transparent 17px);
      background-size: 40px 36px;
      top: 9px;
      background-position-y: -26px;
    }

    @include desktop {
      height: 12px;
      background: radial-gradient(24px, transparent, transparent 13px, #f1f1f1 14px, #f1f1f1 21px, transparent 22px);
      background-size: 54px 48px;
      background-position-y: -33px;
    }
  }
}
